.top-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  /* width: var(--sectionWidth); */
  width: 100%;
  margin: 0px auto;
  padding-inline: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, var(--grey), #ece9e9);
  z-index: 999;
}

.logo-con {
  width: fit-content;
  z-index: 999;
  cursor: pointer;
  /* background-color: var(--blueFamily); */
}

.the-logo {
  /* border: 2px solid red; */
  text-align: center;
  line-height: 0.5cm;
}

.the-logo h1 {
  font-size: 30px;
  color: var(--blueFamily);
  text-shadow: 3px 2px #000;
}

.the-logo h3 {
  font-size: 20px;
  color: var(--lightBlue);
  text-shadow: 3px 2px #000;
}

@media screen and (max-width: 920px) {
  .the-logo h1 {
    font-size: 25px;
  }

  .the-logo h3 {
    font-size: 15px;
  }
}

.open-nav,
.close-nav {
  display: none;
}

.top-header nav {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul:nth-child(2) {
  /* border: 2px solid green; */
  width: 50%;
}
nav ul:last-child {
  /* border: 2px solid yellow; */
  width: 30%;
}

nav ul li {
  list-style-type: none;
  font-weight: 500;
  cursor: pointer;
}
nav ul li:hover {
  border-bottom: 2px solid var(--blueFamily);
}

nav ul li a {
  text-decoration: none;
  color: var(--blueFamily);
}

nav ul:last-child li:last-child {
  border-bottom: none;
}

nav ul li button {
  background-color: var(--blueFamily);
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  transition: ease 0.5s all;
}
nav ul li button:hover {
  opacity: 0.8;
}

nav ul li button a {
  color: #fff;
}

@media screen and (min-width: 1300px) {
  nav ul:nth-child(2) {
    /* border: 2px solid red; */
    width: 40%;
  }

  nav ul:last-child {
    /* border: 2px solid red; */
    width: 20%;
  }
}

@media screen and (max-width: 920px) {
  .logo-con {
    margin-top: 10px;
  }

  .open-nav,
  .close-nav {
    display: block;
    right: 30px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .open-nav {
    position: fixed;
  }

  .close-nav {
    position: absolute;
  }

  .top-header nav {
    position: fixed;
    right: -400px;
    top: 0;
    height: 100vh;
    background: linear-gradient(to bottom, var(--blueFamily), #000000);
    flex-direction: column;
    width: 300px;
    justify-content: flex-start;
    transition: ease 0.5s all;
  }
  .add-nav-css {
    right: 0 !important;
  }

  nav ul {
    /* border: 2px solid red; */
    flex-direction: column;
  }

  nav ul:nth-child(2) {
    /* border: 2px solid green; */
    align-items: flex-start;
    margin-top: 6rem;
    margin-left: 30px;
    width: 100%;
    line-height: 1.5cm;
  }
  nav ul:last-child {
    /* border: 2px solid red; */
    width: 100%;
    margin-top: 2rem;
    line-height: 1cm;
  }

  nav ul li {
    transition: ease 0.5s all;
  }

  nav ul li:hover {
    border-bottom: none;
    padding-left: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  nav ul li button {
    background-color: #fff;
    font-weight: 700;
  }

  nav ul li button a {
    color: var(--blueFamily);
  }
}

@media screen and (max-width: 680px) {
  .top-header nav {
    right: -690px;
    width: 100%;
  }
  .add-nav-css {
    right: 0 !important;
  }
}
