.header-and-hero {
  /* border: 2px solid red; */
}

.hero-section {
  /* border: 2px solid red; */
  text-align: center;
  margin-top: 7rem;
  background: linear-gradient(to bottom, #fff, var(--blueFamily));
}

.header-intro {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5cm;
  font-size: 25px;
  padding-inline: 20px;
}

.hero-section > p {
  /* border: 2px solid red; */
  color: #fff;
  max-width: 600px;
  margin: 30px auto;
  padding-inline: 20px;
}

.header-intro h2 span {
  color: var(--blueFamily);
}

@media screen and (max-width: 680px) {
  .header-intro {
    font-size: 18px;
    line-height: 1cm;
  }
}

.hero-section button {
  background-color: var(--blueFamily);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  margin: 20px;
  transition: ease 0.5s all;
}
.hero-section button:hover {
  opacity: 0.8;
}

.hero-section a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin: 20px;
}
.hero-section a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.hero-img-con {
  /* border: 2px solid red; */
  width: 100%;
  background-color: var(--blueFamily);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 30px;
}

.hero-img-con img {
  width: 500px;
}

@media screen and (max-width: 680px) {
  .hero-img-con {
    max-width: 680px;
  }

  .hero-img-con img {
    width: 100%;
  }
}
