.url-con {
  min-height: 70vh;
  /* margin-top: 6rem; */
  max-width: var(--sectionWidth);
  margin: 6rem auto 3rem;
  padding-inline: var(--sectionPadding);
}

.url-con h2 {
  color: var(--blueFamily);
  text-transform: uppercase;
}

.url-con button {
  border: none;
  background-color: var(--blueFamily);
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  transition: ease 0.5s all;
}
.url-con button:hover {
  opacity: 0.8;
}

.table-con {
  max-width: 900px;
  margin: 2rem auto 3rem;
}

.table-con p {
  text-align: center;
  margin-bottom: 20px;
  color: red;
  font-weight: 600;
}

.table-con table {
  border: 2px solid var(--blueFamily);
  width: 100%;
  text-align: center;
  color: var(--blueFamily);
  font-weight: 500;
}

.table-con table td,
.table-con table th {
  border: 2px solid var(--blueFamily);
  height: 50px;
}

@media screen and (max-width: 755px) {
  .table-con {
    overflow-x: scroll;
  }
  /* Chrome, Edge and safari customized scrollbar */
  .table-con::-webkit-scrollbar {
    width: 6px;
  }

  .table-con::-webkit-scrollbar-track {
    background: rgba(143, 137, 137, 0.3);
  }

  .table-con::-webkit-scrollbar-thumb {
    background: rgba(143, 137, 137, 0.3);
    border-radius: 20px;
    border: 3px solid var(--blueFamily);
  }
  /* Chrome, Edge and Safari customized scrollbar */
}
