:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Colors */
  --orangeFamily: #bf8339;
  --blueFamily: #3e65ce;
  --lightOrange: #d9ac84;
  --lightRed: #d99177;
  --lightBrown: #a65f46;

  /* Fonts */
  --mainHeader: 2rem;
  --logoFont: 25px;
  --generalText: 18px;
  --sectionPadding: 30px;

  /* Section Width */
  --sectionWidth: 1100px;
}

body {
  font-size: var(--generalText);
}
